.feature-box {
  background-color: var(--bg-gray);
  border-radius: var(--border-radius);
  padding: 1.5625rem;
  .feature-icon {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
    border-radius: var(--border-radius);
  }
  p {
    margin-bottom: 0;
  }
}
