.feature-box {
  background-color: var(--bg-gray);
  border-radius: var(--border-radius);
  padding: 1.5625rem;
  .feature-icon {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
    border-radius: var(--border-radius);
  }
  p {
    margin-bottom: 0;
  }
}

.about-section {
  padding: 3.75rem 0;
  .subtitle{
    color: var(--primary);
    font-weight: 600;
  }
    p {
font-size: 1.0625rem;
font-weight: 500;
color: var(--gray);
  }
  img {
    border-radius: var(--border-radius);
    width: 100%;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: var(--border-radius);

  }
}
