 .course-box {
   max-width: 330px;
   margin: 0 auto;

   &_wrap {
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     background-color: #fff;
   }

   &_image {
     position: relative;
     background-color: #000;
     overflow: hidden;
     max-height: 12.5rem;
     border-top-left-radius: 0.3125rem;
     border-top-right-radius: 0.3125rem;

     &:hover {
       img {
         transform: scale(1.1);
         opacity: 0.7;
       }
     }

     img {
       object-fit: cover;
       width: 100%;
       height: 210px;
       transition: 0.3s ease-in-out;
     }

     .badags {
       position: absolute;
       z-index: 5;
       top: 0.75rem;
       right: 0.75rem;

       .badge {
         &:not(:last-child) {
           margin-left: 0.75rem;
         }
       }
     }
   }

   &_location {
     >span {
       width: 100%;

       .app-text-ellipsis {
         flex-grow: 1;
       }
     }
   }

   &_body {
     padding: 0.9375rem;

     p {
       color: #9b9b9b;
     }

     ul {
       padding: 0;
       margin-bottom: 0;

       li {
         display: inline-flex;
         align-items: center;
         font-weight: 500;
         font-size: 0.75rem;
         vertical-align: middle;

         &:not(:last-child) {
           margin-left: 0.75rem;
         }

         .app-icon {
           --size: 16px;
           color: var(--primary);
           margin-left: 5px;
         }
       }
     }
   }

   &_title {
     a {
       color: var(--black);
       text-decoration: none;

       &:hover {
         color: var(--primary);
       }
     }
   }

   &_desc {
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;

   }

   &_footer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px;
     border-top: 1px solid var(--gray2);
   }

   &_price {
     font-size: 1.125rem;
     font-weight: 600;

     strong {
       font-size: 1.25em;
       color: var(--primary);
       margin-left: 5px;
     }
   }

   &_actions {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 8px;
   }
 }

 .course-cate {
   display: flex;
   padding: 20px 30px;
   gap: 20px;
   background: #fff;
   position: relative;
   z-index: 1;
   align-items: center;
   border-radius: 20px;
   border: 1px solid #e7e7e7;

   &_icon {
     height: 70px;
     width: 70px;
     min-width: 70px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background: #d9ebe8;
     border-radius: 50%;
     font-size: 2.1875rem;
   }

   h4 {
     margin-bottom: 0;
   }

   span {
     margin-bottom: 0;
     font-size: 1.125rem;
     font-weight: 600;
   }
 }

 .swiper-slide-active {
   .course-cate {
        background: linear-gradient(90deg, #12ac6e  50%,#19855a  100%);

     &_icon {
       color: #fff;
       background: rgba(0, 0, 0, 0.2);

     }

     h4,
     span {
       color: #fff;
     }
   }
 }