/* Footer */
.app-footer {
     border-top: 1px solid var(--gray2);
  padding: 40px 0;
  background-color: #fff;
  .logo {
    img {
      height: 50px;
    }
  }
  .nav {
    .nav-link {
      color: var(--dark);
      text-decoration: none;
      font-weight: 500;
      &:hover {
        color: var(--primary);
      }
    }
  }
  .social-links a {
    color: var(--dark);
    &:not(:last-child) {
      margin-left: 20px;
    }
    &:hover {
      color: var(--primary);
    }
    .app-icon {
      --size: 20px;
    }
  }
  &-bottom {
    border-top: 1px solid var(--gray2);
    padding-top: 40px;
    margin-top: 25px;
  }
  .copy-right {
    font-weight: 500; 
  }
}
