html {
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--black);
}

a {
  color: var(--secondary);
  transition: 0.3s ease;
  text-decoration: none;
}

.hgi-stroke {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 800;
  font-size: 2.125rem;
  margin-bottom: 24px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.7;
  color: var(--dark);
}

h1,
.h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 900;
}

p {
  margin-bottom: 16px;
  line-height: 1.6;
  color: #666666;
  font-size: 1rem;
  font-weight: 400;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid var(--gray2);
  opacity: 1;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}

.btn {
  font-weight: 500;
  font-size: 18px;
  padding: 0.625rem 1.75rem;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-sm {
  font-size: 0.875rem;
  border-radius: 50px;
  padding: 8px 1.25rem;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);

  &:hover {
    color: var(--primary);
    background-color: #fff;
    border-color: var(--primary);
  }
}

.btn-outline-primary {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);

  &:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);

  &:hover {
    color: var(--secondary);
    background-color: #fff;
    border-color: var(--secondary);
  }
}

.btn-outline-secondary {
  background-color: #fff;
  color: var(--secondary);
  border: 1px solid var(--secondary);

  &:hover {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
}

.form-control,
.form-select {
  font-size: 1rem;
  height: 48px;
  padding: 0 1rem;
  border-radius: var(--border-radius);
  text-align: right;
}

textarea.form-control {
  padding: 1rem;
  height: auto;
  min-height: 90px;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.app-card {
  padding: 40px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--white);
  box-shadow: 0px 15px 40px -10px rgb(109 117 143 / 33%);

  &-title {
    border-bottom: 1px solid var(--gray2);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.app-meta {
  > span {
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;

    &:not(:last-child) {
      margin-left: 15px;
    }

    .app-icon {
      --size: 18px;
      margin-left: 5px;
      color: var(--gray);
    }
  }
}

.bg-light {
  background-color: var(--bg-gray) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.section-title {
  margin-bottom: 30px;

  h2 {
    color: var(--primary);
    margin-bottom: 0;
  }

  p {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 0;
  }
}

.breadcrumb {
  margin-bottom: 0;
}

.accordion-button:not(.collapsed) {
  --bs-accordion-active-color: var(--primary);
  --bs-accordion-active-bg: var(--bg-gray);
}
