/* Header */
.app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0 0.625rem 0rem #8c8c8c61;
  border-top: 0.5rem solid var(--primary);

  .navbar {
    padding: 0.625rem 0;

    &-brand {
      margin-left: 2.1875rem;

      img {
        height: 3.75rem;
      }
    }

    .navbar-toggler {
      padding: 0;
      border: none;
      font-size: 1.375rem;
      color: var(--primary);
      outline: none;
      box-shadow: none;
    }

    .nav-item {
      &:not(:last-child) {
        margin-left: 0.9375rem;
      }
    }

    .nav-link {
      font-size: 16px;
      font-weight: 500;
      color: var(--black);

      &:hover {
        color: var(--primary);
      }
    }

    .logo-other {
      img {
        width: 3.75rem;
        height: 3.75rem;
        object-fit: cover;
      }
    }

    .login-link {
      margin-inline-start: 1.25rem;
      font-weight: 600;
      font-size: 18px;
    }

    @media (max-width: 61.9375rem) {
      .nav-item {
        margin-left: 0 !important;

        &:last-child {
          .nav-link {
            border-bottom: 0.0625rem solid var(--gray2);
          }
        }
      }

      .nav-link {
        padding: 0.875rem 0;
        border-top: 0.0625rem solid var(--gray2);
      }

      .navbar-collapse {
        text-align: center;
      }

      .navbar-nav {
        padding: 1.25rem 0;
      }
    }
  }
}

.hero-page {
  background-color: #fff;
  padding: 6.25rem 0;
  background: linear-gradient(to left, #e5fff3 0%, #e0f1ff 30%, #fdf2ef 100%);
  text-align: center;
  .breadcrumb {
    justify-content: center;
    li {
      font-size: 18px;
      font-weight: 500;
    }
    a {
      i {
        margin-inline-end: 5px;
        font-weight: 600;
      }
    }
  }
}
