/* Hero Section */
.slideshow-section {
  position: relative;

  @media screen and (max-width: 992px) {
    text-align: center;
  }

  .slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .slide-wrap {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.92) 100%);
      min-height: calc(100vh - 98px);
      display: flex;
      align-items: center;
     &_content{
      max-width: 700px;
     }
    }

    h2 {
      color: #fff;
      margin-bottom: 0;
      
    }

    p {
      font-size: 20px;
      color: #fff;
      font-weight: 500; 
    }

  }
}

/* banner-slideshow */
.banner-slideshow {
  padding: 60px 0 40px;

  .swiper-slide {
    img {
      width: 100%;
      max-height: 285px;
      object-fit: cover;
    }
  }
}

/* Featured Projects */
.featured-projects {
  padding: 60px 0;

  .swiper {
    padding: 15px 0;
  }
}

/* Partners Section */
.partners-section {
  padding: 60px 0;

  .swiper-slide {
    text-align: center;
  }

  .partner-logo {
    height: 75px;
    object-fit: contain;
  }

  .app-swiper-container .swiper-pagination {
    --swiper-pagination-bottom: -20px;
  }
}

.feature {
  img {
    max-width: 90px;
  }
}