/*All SCSS modules first */
@use "./variables.scss" as *;
@use "./fonts.scss" as *;
@use "./global.scss" as *;
@use "./swiper.scss" as *;
@use "./loader.scss" as *;
@use "./header.scss" as *;
@use "./footer.scss" as *;
@use "./pagination.scss" as *;
@use "./course-box.scss" as *;
@use "./home.scss" as *;
@use "./about.scss" as *;
@use "./contact.scss" as *;
@use "./_single-course.scss" as *;

#app {
  position: relative;
  // overflow-x: hidden;
}

.app-main {
  margin-top: 98px;
  @media screen and (max-width: 992px) {
    margin-top: 85px;
  }
}

.app-main-content {
  min-height: calc(100vh - 480px);
  padding: 3.75rem 0;
  @media screen and (max-width: 768px) {
    padding: 2.5rem 0;
  }
}

.section-404 {
  padding-top: 50px;
  text-align: center;

  h1 {
    font-size: clamp(40px, 12vw, 150px);
    line-height: 1;
  }
}

.sticky-top {
  top: 105px;
  z-index: 10;
}

.app-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
