<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="course-box">
    <div class="course-box_wrap">
      <div class="course-box_image">
        <a href="./single-course.html">
          <img loading="lazy" src="{{image}}" alt="{{title}}" />
        </a>
        <div class="badags">
          <span class="badge text-bg-primary">شاع</span>
          <span class="badge text-bg-danger">متميز</span>
        </div>
      </div>
      <div class="course-box_body">
        <h6 class="course-box_title">
          <a href="./single-course.html">{{title}}</a>
        </h6>
        <p class="course-box_desc">{{desc}}</p>
        <div class="app-meta mb-1">
          <span> المدة: {{duration}} </span>
          <span> يبدأ: {{start_at}} </span>
        </div>
      </div>
      <div class="course-box_footer">
        <div class="course-box_price"><strong>{{price}}</strong>ريال</div>
        <div class="course-box_actions">
          <a href="./single-course.html" class="btn btn-sm btn-secondary">تسجيل</a>
        </div>
      </div>
    </div>
  </div>
</div> 
