<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="icon" href="/assets/images/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
</head>

<body>
  <div id="app" class="app">
    <!-- <div id="app-loader" class="app-loader">
        <div class="app-loader-content">
          <div class="logo">
            <img loading="lazy" src="assets/images/favicon.png" alt="" />
          </div>
          <div class="loader"></div>
        </div>
      </div> -->


    <header class="app-header">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="./index.html">
            <img loading="lazy" src="/assets/images/logo.png" alt="Tcw Logo" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              @@loop('link-item.html', '../../data/links.json')
            </ul>
            <div class="d-flex align-items-center gap-2">
              <a href="#" class="logo-other"><img loading="lazy" src="https://tcw.com.sa/asstes/img/h_logo-03.png"
                  alt="Tcw Logo" /></a>
              <a href="#" class="logo-other"><img loading="lazy" src="https://tcw.com.sa/asstes/img/h_logo-02.png"
                  alt="Tcw Logo" /></a>
              <a href="#" class="logo-other"><img loading="lazy" src="https://tcw.com.sa/asstes/img/h_logo-01.png"
                  alt="Tcw Logo" /></a>
              <a href="#" class="login-link"><i class="hgi-stroke hgi-user"></i> تسجيل دخول</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="modalSignin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="mapSearchLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-4">
            <h1 class="modal-title fs-5" id="modalSigninLabel">تسجيل دخول</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">@@include('./login-form.html');</div>
        </div>
      </div>
    </div>