<form class="mb-0">
  <div class="form-floating mb-3">
    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">البريد الالكترونى</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">كلمة السر</label>
  </div>
  <div class="d-flex mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="Check">
      <label class="form-check-label" for="Check">
        تزكرنى
      </label>
    </div>
    <a href="./password.html" class="d-inline-block ms-auto">نسيت كلمة السر؟</a>
  </div>
  <button class="w-100 mb-4 btn btn-primary" type="submit">دخول</button>
  <div class="text-center">
    <small class="text-body-secondary">ليس لديك حساب ؟ <a href="./register.html" class="ms-1">تسجيل</a></small>
  </div>
</form>