<section class="banner-slideshow">
  <div class="container">
    <div class="app-swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img loading="lazy" src="assets/images/slide-1.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="assets/images/slide-2.jpg" alt="" />
          </div> <div class="swiper-slide">
            <img loading="lazy" src="assets/images/slide-1.jpg" alt="" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="assets/images/slide-2.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
