<section class="featured-courses bg-light">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="section-title text-start">
        <h2>احدث الدورات</h2>
        <p>بعض الدورات المميزة التي اخترناها</p>
      </div>
      <div>
        <a href="./courses.html" class="btn btn-sm btn-outline-primary">عرض الكل</a>
      </div>
    </div>
    <nav>
      <div class="nav nav-cate-tabs" id="nav-tab" role="tablist">
        <button class="course-cate active" data-bs-toggle="tab" data-bs-target="#cate-1-tab" type="button" role="tab"
          aria-controls="cate-1-tab" aria-selected="true">
          <div class="course-cate_icon">
            <i class="hgi hgi-stroke hgi-analytics-02"></i>
          </div>
          <div class="course-cate_content">
            <h4>التسويق</h4>
            <span>8 دورات</span>
          </div>
        </button>
        <button class="course-cate" data-bs-toggle="tab" data-bs-target="#cate-2-tab" type="button" role="tab"
          aria-controls="cate-2-tab" aria-selected="false">
          <div class="course-cate_icon">
            <i class="hgi hgi-stroke hgi-laptop-programming"></i>
          </div>
          <div class="course-cate_content">
            <h4>البرمجة</h4>
            <span>12 دورات</span>
          </div>
        </button>
        <button class="course-cate" data-bs-toggle="tab" data-bs-target="#cate-3-tab" type="button" role="tab"
          aria-controls="cate-3-tab" aria-selected="false">
          <div class="course-cate_icon">
            <i class="hgi hgi-stroke hgi-web-design-01"></i>
          </div>
          <div class="course-cate_content">
            <h4>التصميم</h4>
            <span>3 دورات</span>
          </div>
        </button>
        <button class="course-cate" data-bs-toggle="tab" data-bs-target="#cate-4-tab" type="button" role="tab"
          aria-controls="cate-4-tab" aria-selected="false">
          <div class="course-cate_icon">
            <i class="hgi hgi-stroke hgi-translate"></i>
          </div>
          <div class="course-cate_content">
            <h4>الترجمة</h4>
            <span>6 دورات</span>
          </div>
        </button>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="cate-1-tab" role="tabpanel" aria-labelledby="cate-1-tab" tabindex="0">
        <div class="courses-carousel" id="courses-1">
          <div class="app-swiper-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                @@loop('../layouts/course-slide.html', '../../data/data.json')
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="cate-2-tab" role="tabpanel" aria-labelledby="cate-2-tab" tabindex="0">
        <div class="courses-carousel" id="courses-2">
          <div class="app-swiper-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                @@loop('../layouts/course-slide.html', '../../data/data.json')
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="cate-3-tab" role="tabpanel" aria-labelledby="cate-3-tab" tabindex="0">
        <div class="courses-carousel" id="courses-2">
          <div class="app-swiper-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                @@loop('../layouts/course-slide.html', '../../data/data.json')
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="cate-4-tab" role="tabpanel" aria-labelledby="cate-4-tab" tabindex="0">
        <div class="courses-carousel" id="courses-2">
          <div class="app-swiper-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                @@loop('../layouts/course-slide.html', '../../data/data.json')
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>