<section class="slideshow-section">
  <div class="app-swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide" style="background-image: url(/assets/images/slide-2.jpg)">
            <div class="slide-wrap">
              <div class="container">
                <div class="slide-wrap_content">
                  <h2 class="h1">معهد التميز الكندي العالي للغات والحاسب الآلي</h2>
                  <p>يعتبر معهد التميز الكندي العالي للغات والحاسب الآلي من المعاهد المتميزة بمنطقة نجران. حيث يخدم
                    النساء في الوقت الحالي
                    وبأذن الله سيكون هناك فرع اخر يخدم الابناء والرجال حيث سيكون منظومة علمية متكاملة تخدم جميع فئات
                    المجتمع، ويسعى معهد
                    التميز الكندي الى مواكبة التطورات الحديثة والمجتمعية حيث يتفاعل</p>
                  <button class="btn btn-primary">تقديم الان</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide" style="background-image: url(/assets/images/slide-1.jpg)">
            <div class="slide-wrap">
              <div class="container">
                <div class="slide-wrap_content">
                  <h2 class="h1">معهد التميز الكندي العالي للغات والحاسب الآلي</h2>
                  <p>يعتبر معهد التميز الكندي العالي للغات والحاسب الآلي من المعاهد المتميزة بمنطقة نجران. حيث يخدم
                    النساء في الوقت الحالي
                    وبأذن الله سيكون هناك فرع اخر يخدم الابناء والرجال حيث سيكون منظومة علمية متكاملة تخدم جميع فئات
                    المجتمع، ويسعى معهد
                    التميز الكندي الى مواكبة التطورات الحديثة والمجتمعية حيث يتفاعل</p>
                  <button class="btn btn-primary">تقديم الان</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide" style="background-image: url(/assets/images/slide-2.jpg)">
            <div class="slide-wrap">
              <div class="container">
                <div class="slide-wrap_content">
                  <h2 class="h1">معهد التميز الكندي العالي للغات والحاسب الآلي</h2>
                  <p>يعتبر معهد التميز الكندي العالي للغات والحاسب الآلي من المعاهد المتميزة بمنطقة نجران. حيث يخدم
                    النساء في الوقت الحالي
                    وبأذن الله سيكون هناك فرع اخر يخدم الابناء والرجال حيث سيكون منظومة علمية متكاملة تخدم جميع فئات
                    المجتمع، ويسعى معهد
                    التميز الكندي الى مواكبة التطورات الحديثة والمجتمعية حيث يتفاعل</p>
                  <button class="btn btn-primary">تقديم الان</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>